# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WithoutBordersASP.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Програмування\ASP .Net\WithoutBordersASP\.idea\.idea.WithoutBordersASP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
