@model WithoutBordersASP.Models.Dto.YearDto

@{
    ViewBag.controller = "Year";
    ViewBag.action = "All";
    ViewBag.Title = "Добавити рік";
}

<!-- Редагувати рік -->
<div class="yearEdit">
    <form asp-action="CreatePost" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="yearItem">
            <input type="hidden" asp-for="Id">
            <p class="whatIsIt">Рік:</p>
            <input asp-for="Name" type="text">
        </div>
        <div class="yearButtons">
            <button type="submit">Готово</button>
        </div>
    </form>
</div>