<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <title>@ViewBag.Title</title>
</head>
    <body>
        <div class="page">
            @await Html.PartialAsync("HeaderPartial")
            <div class="wrapper">
                @RenderBody()
            </div>
            @await Html.PartialAsync("FooterPartial")
        </div>
        @await RenderSectionAsync("Js", false)
    </body>
</html>