<!-- Підвал адміна-->
<footer>
    <div><a asp-controller="Account" asp-action="Logout" class="logout">Вийти з аккаунту</a></div>
    <div><a asp-controller="Main" asp-action="Home"><img src="~/images/hello.png" alt="hello"></a></div>
</footer>