@{
    ViewBag.Title = "Панель Адміністратора";
}


<!-- Кнопки -->
<div class="buttons">
    <a asp-controller="Master" asp-action="All">Змінити/добавити головну сторінку</a>
    <a asp-controller="Year" asp-action="All">Змінити/добавити роки і табори</a>
    <a asp-controller="Photo" asp-action="All">Змінити/добавити фото</a>
    <a asp-controller="Mentors" asp-action="All">Змінити/добавити наставників</a>
    <a asp-controller="Kids" asp-action="All">Статистика дітей</a>
</div>