<!--Підвал сайту-->
<footer>
    <div class="footer--logo">
        <div><img src="~/images/Logo.svg" alt="logo"></div>
        <h2>БЕЗ КОРДОНІВ</h2>
    </div>
    <div class="footer">
        <div class="content--line">
            <a target="_blank" href="https://www.facebook.com/groups/487668965006302"><img src="~/images/facebook.svg" alt="logo"></a>
            <a href="/#form">Хочу в табір</a>
            <a asp-controller="Home" asp-action="Mentors">Наставники</a>
        </div>
        <div class="content--line">
            <a target="_blank" href="https://www.instagram.com/tabir_lokachi/"><img src="~/images/instagram.svg" alt="logo"></a>
            <a href="/#willBe">Що на вас чекає?</a>
            <a href="/#about">Про нас</a>
        </div>
        <div class="content--line">
            <a target="_blank" href="https://tweekergit.github.io/asp-cv/"><img class="tweeker" src="~/images/tweekerwhite.png" alt="tweeker"></a>
        </div>
    </div>
</footer>